<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
</head>
<body>
    <h1>Order Details</h1>
    <p><strong>Order ID:</strong> {{ order.id }}</p>
    <p><strong>Total Amount:</strong> {{ order.total_amount }}</p>
    <p><strong>Status:</strong> {{ order.order_status }}</p>

    <h2>Items</h2>
    <ul>
        {% for item in order.items.all %}
            <li>{{ item.product_id.name }} - Quantity: {{ item.quantity }} - Price: {{ item.price }}</li>
        {% endfor %}
    </ul>

    <a href="{% url 'process_payment' order.id %}"><button>Buy Now</button></a>
    <a href="{% url 'product_list' %}"><button>Continue Shopping</button></a>
</body>
</html>
