<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Post</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="main">
        <h1>Delete Post</h1>
    <p>Are you sure you want to delete the post "{{ post.title }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirm Deletion</button>
    </form>
    <a href="{% url 'post_detail' post.id %}">Cancel</a>
    </div>
</body>
</html>
