<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Detail</title>
</head>
<body>
{% load cache %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>

    {% cache 60 recent_comments post.id %}
        <h2>Recent Comments {{comment_count}}</h2>
        {% for comment in comments %}
            <p>{{ comment.content }} by {{ comment.author.username }} on {{ comment.created_date }}</p>
        {% endfor %}
    {% endcache %}


{% endblock %}

{% if user.is_authenticated %}
    <h3>Leave a Comment</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    {% else %}
    <p>You must be logged in to leave a comment.</p>
    {% endif %}
    <a href="{% url 'edit_post' post.id%}">Edit</a></br>
    <a href="{% url 'delete_post' post.id %}">Delete</a></br>
    <a href="{% url 'post_list' %}">Back</a>
</body>
</html>